# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
lib/
include/

# Project specific
uploads/
static/uploads/*
config.py
sign_language_model_augmented.keras
sign_language_model_augmented.h5
class_names.pkl
train_augmented/
dataset/
